name: Deploy

on:
  push:
    tags:
      - "v*"

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}

jobs:
  buildWindows:
    name: Build Windows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build project
        uses: game-ci/unity-builder@v4
        with:
          targetPlatform: StandaloneWindows64
          versioning: Semantic

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-Windows
          path: build/StandaloneWindows64

  buildWebGL:
    name: Build WebGL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build project
        uses: game-ci/unity-builder@v4
        with:
          targetPlatform: WebGL
          versioning: Semantic

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-WebGL
          path: build/WebGL

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [buildWindows, buildWebGL]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: Build-Windows
          path: build/StandaloneWindows64

      - name: Download WebGL Artifact
        uses: actions/download-artifact@v4
        with:
          name: Build-WebGL
          path: build/WebGL

      - name: Zip Artifacts
        run: |
          zip -r Windows.zip build/StandaloneWindows64
          zip -r WebGL.zip build/WebGL

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            Windows.zip
            WebGL.zip
          generate_release_notes: true
