name: Deploy

on:
  push:
    tags:
      - "v*"
    branches:
      - main
      - master

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}

jobs:
  tag_and_release_prep:
    name: Tag and Release Prep
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch
          release_branches: main,master

  buildWindows:
    name: Build Windows
    runs-on: ubuntu-latest
    needs: tag_and_release_prep
    if: always()
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          ref: ${{ needs.tag_and_release_prep.outputs.new_tag || github.ref }}

      - name: Cache
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build project
        uses: game-ci/unity-builder@v4
        with:
          targetPlatform: StandaloneWindows64
          versioning: Semantic

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-Windows
          path: build/StandaloneWindows64

  buildWebGL:
    name: Build WebGL
    runs-on: ubuntu-latest
    needs: tag_and_release_prep
    if: always()
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          ref: ${{ needs.tag_and_release_prep.outputs.new_tag || github.ref }}

      - name: Cache
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      - name: Build project
        uses: game-ci/unity-builder@v4
        with:
          targetPlatform: WebGL
          versioning: Semantic

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-WebGL
          path: build/WebGL

  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [tag_and_release_prep, buildWindows, buildWebGL]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: Build-Windows
          path: build/StandaloneWindows64

      - name: Download WebGL Artifact
        uses: actions/download-artifact@v4
        with:
          name: Build-WebGL
          path: build/WebGL

      - name: Zip Artifacts
        run: |
          zip -r Windows.zip build/StandaloneWindows64
          zip -r WebGL.zip build/WebGL

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.tag_and_release_prep.outputs.new_tag || github.ref_name }}
          files: |
            Windows.zip
            WebGL.zip
          generate_release_notes: true
